body
{
    font-family: Helvetica, Arial, sans-serif;
}

#results
{
    border: 3px solid black;
    border-radius: 5px;
    width: 40%;
}

#results li.pass
{
	color: green;
}

#results li.fail
{
	color: red;
}

